<div class="nav-container">
  <mat-toolbar>
    <mat-button class="icon-button" (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </mat-button>

    <h1>Projectportfoliomanagement</h1>
    <img src="../../../assets/img/logo.png" />
  </mat-toolbar>
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #snav fixedTopGap="56">
      <mat-nav-list>
        <mat-list-item routerLink="/add-project/">
          <mat-icon>note_add</mat-icon>Neues Projekt</mat-list-item
        >
      </mat-nav-list>
      <mat-sidenav-content>
        <app-chart></app-chart>
        <app-phase-form></app-phase-form>
        <app-project-form></app-project-form
      ></mat-sidenav-content>
    </mat-sidenav>
  </mat-sidenav-container>
</div>
