@import '../../styles/styles';
@import '../../styles/variables';

// Navigationelements are just used here
mat-sidenav {
  background-color: $light-gray;
}

mat-toolbar {
  display: flex;
  justify-content: space-between;
}

img {
  width: 56px;
  height: 46px;
  overflow: hidden;
  margin-top: -6px;
}

.nav-container {
  display: flex;
  flex-direction: column;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.sidenav-container {
  flex: 1;
  flex-direction: column;
}
