<div class="sidenav">
  <div class="logo">
    <a href="/" class="simple-text logo-mini">
      <div class="logo-img">
        <img src="../../../assets/img/logo.png" />
      </div>
    </a>
    <a href="/" class="simple-text logo-normal"> Projektmanager </a>
  </div>
  <ul class="nav">
    <li class="active">
      <a routerLink="/"
        ><i><mat-icon>home</mat-icon></i>Übersicht</a
      >
    </li>
    <li class="active">
      <a routerLink="/add-project"
        ><i><mat-icon>add</mat-icon></i>Neues Projekt</a
      >
    </li>
    <li class="active">
      <a routerLink="/edit-phase"
        ><i><mat-icon>edit</mat-icon></i>Bearbeiten</a
      >
    </li>
  </ul>
</div>
