<mat-nav-list>
  <mat-list-item
    *ngFor="let project of chartData"
    (click)="onSelectProject(project)">
    <!-- <mat-icon matListIcon>view</mat-icon> -->
    <h4 matLine>{{ project.name }}</h4>
    <p matLine>{{ project.description }}</p>
    <span>50%</span>
  </mat-list-item>
</mat-nav-list>
<!-- <div *ngIf="selectedProject">
  <div>
    <label for="phase-name"
      >{{ selectedProject.name | uppercase }} phasen:
    </label>
    <mat-list>
      <mat-list-item
        *ngFor="let phase of selectedProject.data"
        (click)="onSelectPhase(phase)">
        <span>{{ phase.name }}</span>
      </mat-list-item>
    </mat-list>
  </div>
</div> -->
